* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font);

    /* border: 1px solid red; */
}

button, input {
  border: none;
}

button {
  background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-base);
    color: var(--text-primary);
}

.hidden {
  display: none !important;
}

a {
    text-decoration: none;
}

/* --- scroll-bar styling --- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-hover);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border-color);
}