#collection-view {
    padding: 0 var(--page-padding) var(--page-padding);
}

#collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--thumbnail-size));
    gap: var(--gap);

    padding: var(--spacing-vertical) 0;
}

.mosaic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#new-mosaic-btn {
    background-color: var(--bg-elevated);
    color: var(--text-secondary);

    height: var(--thumbnail-size);
    aspect-ratio: 1;

    border: 2px dashed var(--border-color);
}

#new-mosaic-btn:hover {
    transform: scale(1.02);
    transition: transform var(--transition);
}

#new-mosaic-btn:active {
    transform: scale(1);
    transition: transform var(--transition);
}

#new-mosaic-btn span {
    font-size: 0.9rem;
    font-weight: 500;
}

.mosaic-card-thumbnail {
    display: grid;

    overflow: hidden;

    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    cursor: pointer;
    transition: transform var(--transition);
}

.mosaic-card-thumbnail:hover {
    transform: scale(1.02);
}

.mosaic-card-thumbnail:active {
    transform: scale(1);
}

.mosaic-card-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mosaic-card-name {
    font-size: 0.98rem;
    font-weight: 500;
    color: var(--text-secondary);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--thumbnail-size);
}