/* MAIN --> where builder & collection views are rendered */
main {
    flex: 1;

    background-color: var(--bg-surface);

    padding-top: var(--spacing-vertical);

    display: flex;
    flex-direction: column;
}

#builder-view,
#collection-view {
    flex: 1;
}